<p class="input-group">
  	<input type="text"
      class="form-control"
      uib-datepicker-popup
      close-text="{{ closeText }}"
      clear-text="{{ clearText }}"
      current-text="{{ currentText }}"
      ng-model="ngModel"
      ng-value="ngModel | date: format"
      is-open="popup2.opened"
      datepicker-options="dateOptions" ng-required="true" ng-click="open2()" />
  	<!-- uib-datepicker-popup="{{format}}" -->
  	<span class="input-group-btn">
    	<button type="button" class="btn btn-default bs1" ng-click="open2()">
    		<i class="glyphicon glyphicon-calendar"></i>
    	</button>
  	</span>
</p>
