<a ng-click="openModalDeleteData()" class="{{ classValue }}">
  <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar
</a>
<script type="text/ng-template" id="modelContentDeleteData.html">
	<form ng-submit="handleDeleteData()">
	    <div class="modal-header">
	        <h3 class="modal-title" id="modal-title">Eliminar registro</h3>
	    </div>
	    <div class="modal-body" id="modal-body">
	        <label>¿Estás seguro en eliminar el registro?</label>
	    </div>
	    <div class="modal-footer">
	    	<input type="submit" class="btn btn-danger" value="Eliminar">
	        <button class="btn btn-default" type="button" ng-click="cancelModalConsultation()">Cancelar</button>
	    </div>
    </form>
</script>
