<a ng-click="openModalConsultation()" class="{{ classValue }}">
	<i class="fa fa-plus" aria-hidden="true"></i> Nueva consulta
</a>
<script type="text/ng-template" id="modelContentConsultation.html">
	<form ng-submit="createConsultation()">
	    <div class="modal-header">
	        <h3 class="modal-title" id="modal-title">Nueva consulta médica</h3>
	    </div>
	    <div class="modal-body" id="modal-body">
	        <div>
	        	<label>Título</label> <small class="txt-optional">(Opcional)</small>
	        	<input type="" class="form-control" ng-model="titleConsultation" name="">
	        </div>
	    </div>
	    <div class="modal-footer">
	    	<input type="submit" name="" class="btn btn-primary" value="Crear">
	      <button class="btn btn-warning" type="button" ng-click="cancelModalConsultation()">Cancelar</button>
	    </div>
    </form>
</script>
