<a ng-click="section = !section" class="pointer small">
	<input type="hidden" ng-model="section" name="">
	<span ng-show="!section">
		<i class="fa fa-caret-left" aria-hidden="true"></i> Ver
	</span>
	<span ng-show="section">
		<i class="fa fa-caret-down" aria-hidden="true"></i> Ocultar
	</span>
</a>