<!-- <div class="form-group">
	<span class="btn btn-default btn-file">
    	<i class="fa fa-picture-o" aria-hidden="true"></i> Seleccionar imagen <input  type="file" id="fileInput">
	</span>
</div>
<div class="cropArea" ng-show="cropArea">
	<img-crop image="cropImage" area-type="square"></img-crop> 
	<input type="hidden" ng-model="croppedImage" value="{{ croppedImage }}" name="">
</div>
<img width="100%" ng-src="{{croppedImage}}" />
-->
<!-- result-image="croppedImage" setup a value -->

<a ng-click="openModalUpdatePhoto()">
	<i class="fa fa-stethoscope" aria-hidden="true"></i> Editar fotografia
</a>

<script type="text/ng-template" id="modelContentUpdatePhoto.html">
	<form ng-submit="createConsultation()">
	    <div class="modal-header">
	        <h3 class="modal-title" id="modal-title">Actualizar fotografia</h3>
	    </div>
	    <div class="modal-body" id="modal-body">
	        <div class="mb30">
	        	<h5 class="subtitle">Tomar fotografia</h5>
	        	<hr>
	        	<div class="form-group">
					<a class="btn btn-info"> <i class="fa fa-camera" aria-hidden="true"></i> Habilitar camara</a>
				</div>
	        </div>
	        
			
			<div>
				<h5 class="subtitle">Seleccionar fotografia</h5>
				<hr>
				<span class="btn btn-default btn-file">
			    	<i class="fa fa-picture-o" aria-hidden="true"></i> Seleccionar imagen <input  type="file" id="fileInput">
				</span>
				<div class="cropArea" ng-show="cropArea"><!-- ng-show="cropArea" -->
					<img-crop image="cropImage" area-type="square"></img-crop> 
					<input type="hidden" ng-model="croppedImage" value="{{ croppedImage }}" name="">
				</div>
				<img width="100%" ng-src="{{croppedImage}}" />
			</div>
	    </div>
	    <div class="modal-footer">
	    	<!-- <input type="submit" name="" class="btn btn-primary" value="Crear"> -->
	        <!-- <button class="btn btn-primary" type="button" ng-click="okModalConsultation()">OK</button> -->
	        <button class="btn btn-default" type="button" ng-click="cancelModalUpdatePhoto()">Cerrar</button>
	    </div>
    </form>
</script>