<script type="text/ng-template" id="customTemplate.html">
  <a>
    <img width="25" src="assets/images/patient.png" alt="..." class="img-circle" />
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<div class="panel-body">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="input-required">Buscar paciente</label>
            <input type="text"
              ng-model="selected"
              placeholder="Nombre del paciente"
              uib-typeahead="patient as patient.fullName for patient in patients | filter:{fullName:$viewValue}"
              typeahead-on-select="onSelect($item, $model, $label)"
              typeahead-loading="loadingRequest"
              typeahead-template-url="customTemplate.html"
              typeahead-show-hint="true"
              typeahead-no-results="noResults" class="form-control" disabled="" />
            <i ng-show="loadingRequest" class="fa fa-spinner" aria-hidden="true"></i>
          </div>
          <input ng-model="appointment.patient" type="hidden" />
          <div ng-show="noResults" class="form-group">
            <i class="fa fa-times" aria-hidden="true"></i> Sin resultados
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="input-required">Fecha</label> <small>Ejemplo: 2018-12-31</small>
            <datepicker min-date="{{ minDate }}"  ng-model="appointment.date" format='yyyy-MM-dd'></datepicker>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="input-required">Hora inicio</label>
            <div uib-timepicker
              show-spinners="false"
              ng-model="appointment.startTime"
              ng-change="changed()"
              hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Hora finaliza</label>
            <div uib-timepicker
              show-spinners="false"
              ng-model="appointment.endTime"
              ng-change="changed()"
              hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Motivo de la cita</label> <small class="txt-optional">(Opcional)</small>
            <textarea name="name" class="form-control" ng-model="appointment.reason" rows="8" cols="40"></textarea>
          </div>
        </div>
      </div>
      <div align="right">
        <div class="form-inline">
          <div class="form-group">
            <button class="btn btn-success btn-block" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          </div>
          <div ng-show="appointment._id" class="form-group">
            <span delete-data class-value="btn btn-danger" redirect="agenda" service-name="Agenda" record-id="appointment._id"></span>
          </div>
          <div class="form-group">
            <a ui-sref="agenda" class="btn btn-default">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
