<div class="section-header">
	<h3>Nueva cita</h3>
	<ol class="breadcrumb">
		<li><a ui-sref="agenda">Agenda</a></li>
		<li>Nueva</li>
	</ol>
</div>
<div class="section-body">
	<form ng-submit="create()" ng-include="'app/views/agenda/_form.html'"></form>
</div>
