<div class="section-header">
	<h3>Editar cita</h3>
	<ol class="breadcrumb">
		<li><a ui-sref="agenda">Agenda</a></li>
		<li>Editar</li>
	</ol>
</div>
<div class="section-body">
	<form ng-submit="update(appointment)" ng-include="'app/views/agenda/_form.html'"></form>
</div>
