<div class="section-header">
	<div class="row">
  	<div class="col-md-4">
    	<h3>Agenda</h3>
  	</div>
		<div class="col-md-2" align="right">
  		<div class="pt10">
  			<a ui-sref="agenda-create" class="btn btn-success">
    			<i class="fa fa-plus" aria-hidden="true"></i> Nuevo cita
    		</a>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<form class="pt10" ng-submit="search()">
  			<div class="input-group">
		      <input type="text" class="form-control" ng-model="input" placeholder="Buscar por nombre del paciente" uib-tooltip="Buscar por nombre del paciente" tooltip-placement="top" tooltip-trigger="'mouseenter'" tooltip-enable="!inputModel">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" name="button"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
		      </span>
		    </div>
			</form>
  	</div>
	</div>
	<ol class="breadcrumb">
		<li>Agenda</li>
		<li></li>
	</ol>
</div>
<div class="section-body">
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-3">
					Paciente
				</th>
				<th class="col-md-2">
					Fecha
				</th>
				<th class="col-md-3">
					Horario
				</th>
				<th>
					Estatus
				</th>
				<th class="col-md-2">Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="appointment in appointments">
				<td>
					<a ng-show="appointment.patient" ui-sref="patients-medical-history({id:appointment.patient._id})">{{ appointment.patient.fullName | uppercase  }}</a>
				</td>
				<td>
					{{ appointment.date | relativeDate }}
				</td>
				<td>
					{{ appointment.startTime | relativeTimeHourMinute }} - {{ appointment.endTime | relativeTimeHourMinute }}
				</td>
				<td width="50px">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
				</td>
				<td>
					<a ui-sref="agenda-edit({id:appointment._id})">Ver detalles</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="not-data-msg" data-ng-if="!appointments.length">
		Sin registros.
	</div>
	<div align="center" data-ng-if="appointments.length">
		<paging
		  page="pagination.currentPage"
		  page-size="pagination.pageSize"
		  total="pagination.total"
			paging-action="pageChanged('Paging Clicked', page, pageSize, total)"
			show-prev-next="true"
	  	show-first-last="true">
		</paging>
	</div>
</div>
