doctype html
html
  head
    meta(charset='utf-8')
    title Medlog Center
    link(rel='icon', href='assets/images/favicon.png')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    // Vendor
    link(rel='stylesheet', type='text/css', href='vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='vendors/font-awesome/css/font-awesome.min.css')
    // Assets CSS
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/auth.css')
    // Vendor Fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet')
  body(ng-app='app')
    .container-fluid
      block content

    script(type='text/javascript', src='vendors/angular/angular.js')
    script(type='text/javascript', src='vendors/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='app/auth.js')
    script(type='text/javascript', src='app/services/auth.js')
    script(type='text/javascript', src='app/services/register.js')
    script(type='text/javascript', src='app/services/login.js')
    script(type='text/javascript', src='app/controllers/auth.js')
