doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title Medlog Center
    link(rel='icon', href='assets/images/favicon.png')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    // Vendor CSS
    link(rel='stylesheet', type='text/css', href='vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='vendors/ng-notify/dist/ng-notify.min.css')
    link(rel='stylesheet', type='text/css', href='vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='vendors/angular-toastr/dist/angular-toastr.css')

    // Assets CSS
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/panel.css')

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet')
    // script(type='text/javascript', src='assets/javascripts/auth.js')

  body(ng-controller='AppCtrl')
    .loading(ng-show='loading')  Cargando ...
    .content(ng-cloak)
      block content

    // Vendor JS
    script(type='text/javascript', src='vendors/angular/angular.min.js')
    script(type='text/javascript', src='vendors/angular-i18n/angular-locale_es-mx.js')
    script(type='text/javascript', src='vendors/angular-animate/angular-animate.min.js')

    script(type='text/javascript', src='vendors/ng-file-upload-shim/ng-file-upload.min.js')
    script(type='text/javascript', src='vendors/ng-file-upload/ng-file-upload.min.js')

    script(type='text/javascript', src='vendors/angular-ui-router/release/angular-ui-router.min.js')
    script(type='text/javascript', src='vendors/angular-bootstrap/ui-bootstrap.min.js')
    script(type='text/javascript', src='vendors/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='vendors/angular-ui-mask/dist/mask.min.js')
    script(type='text/javascript', src='vendors/moment/min/moment.min.js')
    script(type='text/javascript', src='vendors/moment/locale/es.js')
    script(type='text/javascript', src='vendors/ng-notify/dist/ng-notify.min.js')
    script(type='text/javascript', src='vendors/angular-paging/dist/paging.min.js')
    script(type='text/javascript', src='vendors/angular-toastr/dist/angular-toastr.tpls.min.js')

    // App JS
    script(type='text/javascript', src='app/app.js')

    // App js
    script(type='text/javascript', src='app/app.run.js')
    script(type='text/javascript', src='app/app.routes.js')

    // Services
    script(type='text/javascript', src='app/services/loading-interceptor.js')
    script(type='text/javascript', src='app/services/auth.js')
    script(type='text/javascript', src='app/services/login.js')
    script(type='text/javascript', src='app/services/logout.js')
    script(type='text/javascript', src='app/services/register.js')
    script(type='text/javascript', src='app/services/token-interceptor.js')

    // Controllers
    script(type='text/javascript', src='app/controllers/app.js')
    script(type='text/javascript', src='app/controllers/auth.js')
    script(type='text/javascript', src='app/controllers/profile.js')
    script(type='text/javascript', src='app/controllers/consultations/edit.js')
    script(type='text/javascript', src='app/controllers/patients/index.js')
    script(type='text/javascript', src='app/controllers/patients/create.js')
    script(type='text/javascript', src='app/controllers/patients/edit.js')
    script(type='text/javascript', src='app/controllers/patients/medical-history.js')
    script(type='text/javascript', src='app/controllers/users/index.js')
    script(type='text/javascript', src='app/controllers/users/create.js')
    script(type='text/javascript', src='app/controllers/users/edit.js')
    script(type='text/javascript', src='app/controllers/agenda/index.js')
    script(type='text/javascript', src='app/controllers/agenda/create.js')
    script(type='text/javascript', src='app/controllers/agenda/edit.js')

    // Factories
    script(type='text/javascript', src='app/factories/patients.js')
    script(type='text/javascript', src='app/factories/consultations.js')
    script(type='text/javascript', src='app/factories/countries.js')
    script(type='text/javascript', src='app/factories/profile.js')
    script(type='text/javascript', src='app/factories/users.js')
    script(type='text/javascript', src='app/factories/files.js')
    script(type='text/javascript', src='app/factories/agenda.js')

    // Filters
    script(type='text/javascript', src='app/filters/patients.js')
    script(type='text/javascript', src='app/filters/null-data.js')
    script(type='text/javascript', src='app/filters/relative-datetime.js')
    script(type='text/javascript', src='app/filters/role.js')
    script(type='text/javascript', src='app/filters/agenda.js')

    // Directives
    script(type='text/javascript', src='app/directives/datepicker.js')
    script(type='text/javascript', src='app/directives/number-only.js')
    script(type='text/javascript', src='app/directives/new-consultation.js')
    script(type='text/javascript', src='app/directives/delete-data.js')
    script(type='text/javascript', src='app/directives/button-action.js')
    script(type='text/javascript', src='app/directives/add-medicine.js')
    script(type='text/javascript', src='app/directives/uppercase-input.js')
