doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title Medlog Center
    link(rel='icon', href='assets/images/favicon.png')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    // Vendor
    link(rel='stylesheet', type='text/css', href='vendors/bootstrap/dist/css/bootstrap.min.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    // link(rel='stylesheet', type='text/css', href='vendors/font-awesome/css/font-awesome.css')

    // Assets CSS
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/website.css')

    // Vendor Fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet')

  body(ng-controller='WebsiteCtrl')
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          img(src='/assets/images/logo-white.png')
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li(class=title=='Home' ? 'active': '')
            a(href='/') Inicio
          li(class=title=='Register' ? 'active': '')
            a(href='register') Registrarse
          li(class=title=='Login' ? 'active': '')
            a(ng-show='!isLoggedIn()', href='login') Login
          li
            a(ng-show='isLoggedIn()', href='panel') Panel
          li
            a(href="#", ng-click='logOut()', ng-show='isLoggedIn()') Cerrar sesión

  .container
    block content

  script(type='text/javascript', src='vendors/angular/angular.js')
  script(type='text/javascript', src='vendors/angular-ui-router/release/angular-ui-router.min.js')

  // App
  script(type='text/javascript', src='assets/javascripts/app.js')

  // Services
  script(type='text/javascript', src='app/services/auth.js')
  script(type='text/javascript', src='app/services/logout.js')
  script(type='text/javascript', src='app/services/login.js')
  script(type='text/javascript', src='app/services/register.js')

  // Controllers
  script(type='text/javascript', src='app/controllers/website.js')
  script(type='text/javascript', src='app/controllers/auth.js')
