body {
  font-family: "Lato","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  margin: 0;
  padding-top: 50px;
  background-color: #fff;
}

a {
  color: #078fc4;
}

.uib-timepicker td {
  padding-left: 2px;
  padding-right: 1px;
}

.uib-time input {
  width: 60px;
}

.checkbox label {
  color: #078fc4;
  text-decoration: underline;
}

.fs14 {
  font-size: 14px;
}

.form-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.h1, .h2, .h3, h1, h2, h3, .h4, h4, .h5, h5  {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #078fc4;
  font-weight: 700;
}

.mt15 {
  margin-top: 15px;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.txt-optional {
  font-style: italic;
  color: #555;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item .alert-dismissable .close, .alert-dismissible .close {
  right: 0;
}

.not-data-msg {
  padding: 10px;
  font-style: italic;
}

.subtitle {
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
}

.loading {
  position: fixed;
  top: 15px;
  text-align: center;
  z-index: 1500;
  width: 100px;
  background: #fff1a8;
  border-color: #fff1a8;
  font-weight: bold;
  overflow: hidden;
  padding: 8px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.mb30 {
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}

.bgcw {
  background-color: #fff;
}

.bg-danger {
  background-color: #f05050;
}

.fa {
  margin-right: 2px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mrl5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }
}

.sidebar {
  background-color: #1c2b36;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-sidebar > li > a .fa {
  margin-right: 7px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #131e26;
  font-weight: 600;
}

.nav-sidebar > li > a:hover {
  background-color: #131e26;
}

.main {
  padding: 18px 20px;
}

.main .page-header {
  margin-top: 0;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* Nav */
.navbar-brand {
  height: auto;
  padding: 17px 15px;
}

.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-nav>li>a {
  line-height: inherit;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #078fc4;
}

.navbar-inverse {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.checkbox, .radio {
  margin-top: 0px;
  margin-bottom: 5px;
}

.page-toolbar {
  padding: 20px;
}

.tab-content {
  padding: 15px;
  border: 1px solid #ddd;
}

.nav-stacked>li+li {
  margin-top: 0px;
}

.section-header {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid transparent;
  padding: 20px;
  margin-bottom: 15px;
  background: #f3f5f8;
  margin-left: -20px;
  margin-right: -20px;
}

.section-header h3 {
  margin-bottom: 5px;
}

  .section-header .breadcrumb {
    background-color: inherit;
    margin-bottom: 0px;
    padding-left: 0px;
  }

.section-body {
  background-color: #fff;
}

.well {
  background-color: #f3f5f8;
}

.panel-default, .well {
  border-color: #dee5e7;
}

.well {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-default .panel-heading {
  background-color: #f6f8f8;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-default>.panel-heading {
  border-color: #078fc4;
  color: #078fc4;
  text-transform: uppercase;
  background: #dcf0f7;
}

.panel-heading h3,
.panel-heading h4 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel {
  border-radius: 0px;
  margin-bottom: 15px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
}

.form-control {
  border-radius: 1px;
  border-color: #cfdadd;
  height: 34px;
}

.bs1 {
  border: 1px solid #ccc !important;
}

.input-required:after {
	color: red;
	content: ' * ';
}

.text-warning {
  color: #e67e22;
}

.text-danger {
  color: #f05050;
}

.btn {
  text-transform: uppercase;
  border-radius: 1px;
  font-weight: 500;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-default {
  background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%)
}

.input-group-addon {
  background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%)
}

/* Button primery */

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23b7e5), color-stop(100%, #3498db));
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #3498db;
  border-color: #3498db;
}

/* Button warning */

.btn-warning {
  background-color: #e67e22;
  border-color: #e67e22;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39c12), color-stop(100%, #e67e22));
}

.btn-warning:hover, .btn-warning:focus {
  background-color: #e67e22;
  border-color: #e67e22;
}

/* Button success */

.btn-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8BC34A), color-stop(100%, #4CAF50));
}

.btn-success:hover, .btn-success:focus {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* Button danger */
.btn-danger {
  background-color: #f05050;
  border-color: #f05050;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e57373), color-stop(100%, #f05050));
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #f05050;
  border-color: #f05050;
}

.btn-border {
  border: 1px solid;
}

.form-inline .form-group{
  margin-left: 0;
  margin-right: 0;
}

.form-inline label {
  margin-right: 5px;
}

.input-group-btn select {
  border-color: #ccc;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Dropdown */

.dropdown-menu>li>a {
  padding: 8px 20px;
}

.dropdown-menu-130 {
  left: -130px;
}

/* Table */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.table a {
  text-decoration: underline;
}

.table>thead>tr>th {
  background: #dcf0f7;
  color: #078fc4;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid #2da0cd;
}

.table {
  border: 1px solid #dee5e7;
  margin-bottom: 0px;
}

.nav-tabs li a {
  text-transform: uppercase;
  color: #aaa;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 0px;
  background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #078fc4;
  background-color: #078fc4;
  color: #fff;
}

.nav-tabs>li>a:hover {
  background-color: #078fc4;
  color: #fff;
}

.nav-tabs.nav-justified>li>a {
  border-bottom: 0px;
  border-radius: 0px;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-bottom: 0px;
  border-radius: 0px;
}

.modal-title {
  font-size: 18px;
}

/* Pagination */

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color:#078fc4;
  border-color:#078fc4;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #078fc4;
}

.pagination>li>a, .pagination>li>span {
  color: #078fc4;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #eee !important;
}
