body {
  font-family: "Lato","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  /* min-height: 2000px; */
  /* padding-top: 90px; */
}
.section-index {
  background-image: url("/assets/images/doctor-1149149_1920.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
  background-size: cover;
  height: 500px;
  padding-top: 120px;
  /* border-bottom: 1px solid #afd3e7; */
}

.active {
  font-weight: bold;
}

/*.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-bottom: 1px solid #078fc4;
}*/

.navbar {
  margin-bottom: 0;
}

.btn-primary-title {
  margin-top: 15px;
  background-color: #00d6a9;
  border-color: #00d6a9;
  color: #fff;
  font-size: 18px;
  padding: 12px 34px;
  font-weight: bold;
}

.btn-action {
  border-bottom: solid 2px #888;
  text-transform: uppercase;
  font-weight: bold;
}

.message {
  font-weight: bolder;
  color: #14335e;
  padding: 8px;
  border: 1px solid #14335e;
  border-radius: 3px;
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid #ccc;
}

.mt60 {
  margin-top: 60px;
}

.input-required:after {
	color: red;
	content: ' * ';
}

.btn {
  border-radius: 4px;
}

.btn-success {
  background-color: #00d6a9;
  border-color: #00d6a9;
  color: #fff;
  font-weight: bold;
}

.btn-success:focus, .btn-success:hover {
  background-color: #fff;
  border-color: #00d6a9;
  color: #00d6a9;
}

.align-left {
  text-align: left;
}

.text-bold {
  font-weight: bolder;
}

.color-primary {
  color: #078fc4;
}

.color-gray {
  color: #777;
}

.section-features {
  margin-top: 60px;
  padding: 30px 0px;
}

.navbar-inverse {
  background: #078fc4;
  border-bottom: 1px solid #078fc4;
}

.navbar-brand {
  height: auto;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #14335e;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {

}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #14335e;
}

.navbar-nav>li>a {
  padding-top: 35px;
  padding-bottom: 30px;
}

.feature-title {
  margin-top: 20px;
  font-weight: bold;
}

/* Font Awesome */

.fa-6 {
  font-size: 20em;
}

.fa-5 {
  font-size: 12em;
}

.fa-4 {
  font-size: 7em;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: inherit;
  }
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: inherit;;
  }
}
