extends layouts/website.pug

block content
  .section-index
    .row
      .col-md-6.col-md-offset-1.align-left
        h1.color-primary.text-bold Regístrate en Medlog Center.
        h3 Medlog Center es una plataforma Web que organiza y gestiona la información de tu consultorio médico.
        a.btn.btn-primary-title.btn-action(href="register") Registrarse ahora
  .section-features(align='center')
    .row
      .col-md-4.col-md-offset-1
        i.fa.fa-user-circle.fa-4.color-primary(aria-hidden='true')
        h3.feature-title Gestión de Pacientes
        h4.color-gray Administra la información de tus pacientes de una forma muy facil.
      .col-md-3
        i.fa.fa-calendar.fa-4.color-primary(aria-hidden='true')
        h3.feature-title Agenda Médica
        h4.color-gray Gestiona las citas médicas de tus pacientes.
      .col-md-3
        i.fa.fa-bar-chart.fa-4.color-primary(aria-hidden='true')
        h3.feature-title Analítico
        h4.color-gray Obten métrica de tu consultorio médico.
