extends layouts/website.pug

block content
  .row(ng-controller='AuthCtrl')
    .col-md-5.col-md-offset-1
      img.mt60.img.img-responsive(src='assets/images/computer-2.png')
    .col-md-5
      h3.color-primary Iniciar sesión
      hr
      div(ng-show='message', class='message') {{ message }}
      form(ng-submit='logIn()')
        .form-group
          label Correo electrónico
          input.form-control(type='email', ng-model='user.username', required='')
        .form-group
          label Contraseña
          input.form-control(type='password', ng-model='user.password', required='')
        input.btn.btn-success(type='submit', value='Iniciar sesión', id='button')
