extends layouts/panel.pug

block content
  div(ng-cloak, ng-include="'app/views/nav/nav-header.html'")
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        div(ng-include="'app/views/nav/nav-sidebar.html'")
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        ui-view
