extends layouts/website.pug

block content
  .row(ng-controller='AuthCtrl')
    .col-md-5.col-md-offset-1
      h3.color-primary Registro
      hr
      div(ng-show='message', class='message') {{ message }}
      form(ng-submit='signIn()')
        .form-group
          label.input-required Nombre
          input.form-control(type='text', ng-model='credentials.firstName', required='')
        .form-group
          label.input-required Apellidos
          input.form-control(type='text', ng-model='credentials.lastName', required='')
        .form-group
          label.input-required Nombre de la compañia
          input.form-control(type='text', ng-model='credentials.company_name', required='')
        .form-group
          label.input-required Usuario (Correo electrónico)
          input.form-control(type='email', ng-model='credentials.username', required='')
        .form-group
          label.input-required Contraseña
          input.form-control(type='password', ng-model='credentials.password', required='')
        .form-group
          label.input-required Confirmar contraseña
          input.form-control(type='password', ng-model='credentials.confirmPassword', required='')
        input.btn.btn-success(type='submit', value='Registrarse', id='button')
    .col-md-5
      img.mt60.img.img-responsive(src='assets/images/computer-2.png')
