<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="patients"><img src="assets/images/logo.png" width="200px">  </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a><img width="18px" src="assets/images/patient.png" alt="..." class="img-circle" /> {{ currentUser.fullName }}</a></li>
        <li><a ui-sref="profile"><i class="fa fa-cog" aria-hidden="true"></i> Perfil</a></li>
        <li><a class="pointer" ng-click="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
