<ul class="nav nav-sidebar">
  <li ui-sref-active="active">
    <a ui-sref="patients">
      <i class="fa fa-users" aria-hidden="true"></i>
      Pacientes <span class="sr-only">(current)</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="agenda">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Agenda
    </a>
  </li>
  <li ui-sref-active="active" ng-show='currentUser.role === "master" || currentUser.role === "admin"'>
    <a ui-sref="users">
      <i class="fa fa-user-md" aria-hidden="true"></i>
      Usuarios
    </a>
  </li>
</ul>
