<div class="section-header">
	<div class="row">
  	<div class="col-md-6">
    	<h3>Perfil</h3>
  	</div>
	</div>
</div>
<div class="section-body">
	<div class="form-group">
		<small>Actualmente tienes el rol de <b>{{ user.role }}</b>.</small>
	</div>
  <form ng-submit="update()" ng-show="user">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Usuario</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="input-required">Nombre(s)</label>
									<input type="text" placeholder="" class="form-control" ng-model="user.firstName" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="input-required">Apellidos(s)</label>
									<input type="text" placeholder="" class="form-control" ng-model="user.lastName" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="input-required">Usuario (Correo electrónico)</label>
									<input type="email" placeholder="" class="form-control" ng-model="user.username" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Nueva contraseña</label>
									<input type="password" placeholder="" class="form-control" ng-model="user.password">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Confirmar contraseña</label>
									<input type="password" placeholder="" class="form-control" ng-model="user.confirmPassword">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Profesional</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Especialidad profesional</label>
									<input type="text" placeholder="" class="form-control" ng-model="user.professionalData.specialty">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Cedula profesional</label>
									<input type="text" placeholder="" class="form-control" ng-model="user.professionalData.professionalLicense" uppercase>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Cargo que ocupa</label>
									<input type="text" placeholder="" class="form-control" ng-model="user.position">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<input type="submit" value="Guardar cambios" class="btn btn-success" />
		</div>
  </form>
	<div class="not-data-msg" data-ng-if="!user">
		Sin registros.
	</div>
</div>
