<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Datos del paciente</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Nombre(s)</label>
						<input type="text" placeholder="" class="form-control" ng-model="patient.firstName" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Apellidos</label>
						 <input type="text" placeholder="" class="form-control" ng-model="patient.lastName" required>
						 </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>C.U.R.P.</label>
						<input type="text" placeholder="" class="form-control" ng-model="patient.uprc" uppercase />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Correo electrónico</label>
						<input type="email" placeholder="" class="form-control" ng-model="patient.email">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Teléfono</label>
						<input type="text" placeholder="" ui-mask="(999) 999-9999" class="form-control" ng-model="patient.phone">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Teléfono móvil</label> <small>Ejemplo: (044)(664)123 4567</small>
						<input type="text" placeholder="" ui-mask="(999)(999) 999-9999" class="form-control" ng-model="patient.mobilePhone">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Fecha de nacimiento</label> <small>Ejemplo: 1999-12-31</small>
					    <datepicker ng-model="patient.birthday" format='yyyy-MM-dd'></datepicker>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Sexo</label>
					    <select required class="form-control" ng-init="patient.gender='male'" ng-model="patient.gender">
					    	<option value="male">Hombre</option>
					    	<option value="female">Mujer</option>
					    </select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Dirección</label>
					    <textarea rows="8" class="form-control" ng-model="patient.address"></textarea>
						</div>
					</div>
					<!-- <div class="col-md-6">
						<h4>Lugar de nacimiento</h4><hr>
						<div class="form-group">
					    <label>País</label>
					    <input type="text" placeholder="" class="form-control" ng-model="patient.country">
						</div>
						<div class="form-group">
					    <label>Estado</label>
							<input type="text" placeholder="" class="form-control" ng-model="patient.state">
						</div>
						<div class="form-group">
					    <label>Ciudad</label>
							<input type="text" placeholder="" class="form-control" ng-model="patient.city">
						</div>
					</div> -->
				</div>
				<div align="right">
					<div class="form-inline">
						<div class="form-group">
							<button class="btn btn-success btn-block" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
						</div>
						<div ng-show="patient._id" class="form-group">
							<span delete-data class-value="btn btn-danger" redirect="patients" service-name="Patient" record-id="patient._id"></span>
						</div>
						<div ng-show="patient._id" class="form-group">
							<a ui-sref="patients-medical-history({id:patient._id})" class="btn btn-default">Cancelar</a>
						</div>
						<div ng-hide="patient._id" class="form-group">
							<a ui-sref="patients" class="btn btn-default">Cancelar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<!-- <div class="panel panel-default">
			<div class="panel-heading">
				<h4>Fotografía</h4>
			</div>
			<div class="panel-body">
				<div align="center">
					<img src="/assets/images/user.png"><hr>
					<div>
						<update-photo></update-photo>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
