<div class="section-header">
	<h3>Nuevo paciente</h3>
	<ol class="breadcrumb">
	  <li><a ui-sref="patients">Pacientes</a></li>
		<li>Nuevo</li>
	</ol>
</div>
<div class="section-body">
	<form ng-submit="create()" ng-include="'app/views/patients/_form.html'"></form>
</div>
