<div class="section-header">
	<h3>Editar paciente</h3>
	<ol class="breadcrumb">
	  <li><a ui-sref="patients">Pacientes</a></li>
		<li>Editar</li>
	</ol>
</div>
<div class="section-body">
	<form ng-submit="update(patient)" ng-include="'app/views/patients/_form.html'" scope="" onload=""></form>
</div>
