<div class="section-header">
	<div class="row">
  	<div class="col-md-4">
    	<h3>Pacientes</h3>
  	</div>
		<div class="col-md-2" align="right">
			<div class="pt10">
				<a ui-sref="patients-create" class="btn btn-success">
					<i class="fa fa-plus" aria-hidden="true"></i> Nuevo paciente
				</a>
			</div>
		</div>
  	<div class="col-md-6">
  		<form class="pt10" ng-submit="search()">
  			<div class="input-group">
		      <input type="text" class="form-control" ng-model="input" placeholder="Buscar por nombre del paciente" uib-tooltip="Buscar por nombre del paciente" tooltip-placement="top" tooltip-trigger="'mouseenter'" tooltip-enable="!inputModel">
		      <span class="input-group-btn">
						<button type="submit" class="btn btn-default" name="button"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
		      </span>
		    </div>
			</form>
  	</div>
	</div>
	<ol class="breadcrumb">
	  <li>Pacientes</li>
		<li></li>
	</ol>
</div>
<div class="section-body">
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-3">
					Nombre completo
				</th>
				<th class="col-md-3">
					Edad
				</th>
				<th class="col-md-3">
					Género
				</th>
				<th class="col-md-2">Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="patient in patients">
				<td>
					<a ui-sref="patients-medical-history({id:patient._id})">
						{{ patient.fullName | uppercase }}
					</a>
				</td>
				<td>
					{{ patient.birthday | age }}
				</td>
				<td>
					{{ patient.gender | gender }}
				</td>
				<td>
					<a ui-sref="patients-medical-history({id:patient._id})">Ver detalles</a>
					<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a id="single-button" type="button" class="btn btn-sm btn-border mrl5" uib-dropdown-toggle ng-disabled="disabled"><span class="caret"></span></a>
					    <ul class="dropdown-menu dropdown-menu-130" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					        <li role="menuitem">
					        	<a class-value="pointer" new-consultation patient-id="patient._id"></a>
					        </li>
					        <li role="menuitem">
					        	<a ui-sref="patients-edit({id:patient._id})">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar paciente
										</a>
					        </li>
					   	</ul>
				    </div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="not-data-msg" data-ng-if="!patients.length">
		Sin registros.
	</div>
	<div align="center" data-ng-if="patients.length">
		<paging
		  page="pagination.currentPage"
		  page-size="pagination.pageSize"
		  total="pagination.total"
			paging-action="pageChanged('Paging Clicked', page, pageSize, total)"
			show-prev-next="true"
	  	show-first-last="true">
		</paging>
	</div>
</div>
