<h5>ANTECEDENTES GINECO-OBSTETRICIOS</h5>
<ul class="list-group">
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.familyHereditaryBackground.diabetesLogical" ng-model="patient.familyHereditaryBackground.diabetesLogical" type="checkbox" > Hospitalización previa
      </label>
    </div>
    <textarea ng-show="patient.familyHereditaryBackground.diabetesLogical" class="form-control" ng-model="patient.familyHereditaryBackground.diabetesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.familyHereditaryBackground.heartDiseaseLogical" ng-model="patient.familyHereditaryBackground.heartDiseaseLogical" type="checkbox" > Cardiopatías
      </label>
    </div>
    <textarea ng-show="patient.familyHereditaryBackground.heartDiseaseLogical" class="form-control" ng-model="patient.familyHereditaryBackground.heartDiseaseText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.familyHereditaryBackground.arterialHypertensionLogical" ng-model="patient.familyHereditaryBackground.arterialHypertensionLogical" type="checkbox" > Hipertensión arterial
      </label>
    </div>
    <textarea ng-show="patient.familyHereditaryBackground.arterialHypertensionLogical" class="form-control" ng-model="patient.familyHereditaryBackground.arterialHypertensionText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.familyHereditaryBackground.thyroidDiseasLogical" ng-model="patient.familyHereditaryBackground.thyroidDiseasLogical" type="checkbox" > Enfermedades tiroideas
      </label>
    </div>
    <textarea ng-show="patient.familyHereditaryBackground.thyroidDiseasLogical" class="form-control" ng-model="patient.familyHereditaryBackground.thyroidDiseasesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.familyHereditaryBackground.othersLogical" ng-model="patient.familyHereditaryBackground.othersLogical" type="checkbox" > Otros
      </label>
    </div>
    <textarea ng-show="patient.familyHereditaryBackground.othersLogical" class="form-control" ng-model="patient.familyHereditaryBackground.othersText"></textarea>
  </li>
</ul>
