<h5>ANTECEDENTES NO PATOLÓGICOS</h5>
<ul class="list-group">
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.smokingLogical" ng-model="patient.noPathologicBackground.smokingLogical" type="checkbox"> Tabaquismo
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.smokingLogical" class="form-control" ng-model="patient.noPathologicBackground.smokingText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.alcoholismLogical" ng-model="patient.noPathologicBackground.alcoholismLogical" type="checkbox" > Alcoholismo
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.alcoholismLogical" class="form-control" ng-model="patient.noPathologicBackground.alcoholismText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.physicalActivityLogical" ng-model="patient.noPathologicBackground.physicalActivityLogical" type="checkbox" > Actividad física
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.physicalActivityLogical" class="form-control" ng-model="patient.noPathologicBackground.physicalActivityText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.seizuresLogical" ng-model="patient.noPathologicBackground.seizuresLogical" type="checkbox" > Convulsiones
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.seizuresLogical" class="form-control" ng-model="patient.noPathologicBackground.seizuresText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.useOtherSubstancesLogical" ng-model="patient.noPathologicBackground.useOtherSubstancesLogical" type="checkbox" > Uso de otras sustancias (Drogas)
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.useOtherSubstancesLogical" class="form-control" ng-model="patient.noPathologicBackground.useOtherSubstancesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.recentVaccineOrImmunizationLogical" ng-model="patient.noPathologicBackground.recentVaccineOrImmunizationLogical" type="checkbox" > Vacuna o inmunización reciente
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.recentVaccineOrImmunizationLogical" class="form-control" ng-model="patient.noPathologicBackground.recentVaccineOrImmunizationText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.noPathologicBackground.othersLogical" ng-model="patient.noPathologicBackground.othersLogical" type="checkbox" > Otros
      </label>
    </div>
    <textarea ng-show="patient.noPathologicBackground.othersLogical" class="form-control" ng-model="patient.noPathologicBackground.othersText"></textarea>
  </li>
</ul>
