<h5>ANTECEDENTES HEREDOFAMILIARES</h5>
<ul class="list-group">
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.asthmaAllergiesLogical" ng-model="patient.obstetricGynecologicBackground.asthmaAllergiesLogical" type="checkbox"> Asma y alérgias
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.asthmaAllergiesLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.asthmaAllergiesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.heartDiseaseLogical" ng-model="patient.obstetricGynecologicBackground.heartDiseaseLogical" type="checkbox"> Cardiopatías
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.heartDiseaseLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.heartDiseaseText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.tuberculosisLogical" ng-model="patient.obstetricGynecologicBackground.tuberculosisLogical" type="checkbox" > Tuberculosis
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.tuberculosisLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.tuberculosisText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.hypertensionLogical" ng-model="patient.obstetricGynecologicBackground.hypertensionLogical" type="checkbox" > Hipertensión
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.hypertensionLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.hypertensionText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.dateFirstMenstruationLogical" ng-model="patient.obstetricGynecologicBackground.dateFirstMenstruationLogical" type="checkbox" > Fecha de primera menstruación
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.dateFirstMenstruationLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.dateFirstMenstruationText"></textarea>
  </li>

  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.dateLastMenstruationLogical" ng-model="patient.obstetricGynecologicBackground.dateLastMenstruationLogical" type="checkbox" > Fecha de última menstruación
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.dateLastMenstruationLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.dateLastMenstruationText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.menstruationFeaturesLogical" ng-model="patient.obstetricGynecologicBackground.menstruationFeaturesLogical" type="checkbox" > Características menstruación
      </label>
    </div>
    <textarea ng-show="patient.obstetricGynecologicBackground.menstruationFeaturesLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.menstruationFeaturesText"></textarea>
  </li>

  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.pregnanciesLogical" ng-model="patient.obstetricGynecologicBackground.pregnanciesLogical" type="checkbox" > Embarazos
      </label>
  </div>
  <textarea ng-show="patient.obstetricGynecologicBackground.pregnanciesLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.pregnanciesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.tumoursLogical" ng-model="patient.obstetricGynecologicBackground.tumoursLogical" type="checkbox" > Cáncer cérvico
      </label>
  </div>
  <textarea ng-show="patient.obstetricGynecologicBackground.tumoursLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.tumoursText"></textarea>
  </li>

  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.uterineCancerLogical" ng-model="patient.obstetricGynecologicBackground.uterineCancerLogical" type="checkbox" > Cáncer uterino
      </label>
  </div>
  <textarea ng-show="patient.obstetricGynecologicBackground.uterineCancerLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.uterineCancerText"></textarea>
  </li>

  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.breastCancerLogical" ng-model="patient.obstetricGynecologicBackground.breastCancerLogical" type="checkbox" > Cáncer de mama
      </label>
  </div>
  <textarea ng-show="patient.obstetricGynecologicBackground.breastCancerLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.breastCancerText"></textarea>
  </li>

  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.obstetricGynecologicBackground.othersLogical" ng-model="patient.obstetricGynecologicBackground.othersLogical" type="checkbox" > Otros
      </label>
  </div>
  <textarea ng-show="patient.obstetricGynecologicBackground.othersLogical" class="form-control" ng-model="patient.obstetricGynecologicBackground.othersText"></textarea>
  </li>
</ul>
