<h5>ANTECEDENTES PATOLÓGICOS</h5>
<ul class="list-group">
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.pathologicBackground.hospitalizationPreviousLogical" ng-model="patient.pathologicBackground.hospitalizationPreviousLogical" type="checkbox"> Hospitalización previa
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.hospitalizationPreviousLogical" class="form-control" ng-model="patient.pathologicBackground.hospitalizationPreviousText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.pathologicBackground.surgeriesPreviousLogical" ng-model="patient.pathologicBackground.surgeriesPreviousLogical" type="checkbox"> Cirugías previas
        </label>
      </div>
    <textarea ng-show="patient.pathologicBackground.surgeriesPreviousLogical" class="form-control" ng-model="patient.pathologicBackground.surgeriesPreviousText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.pathologicBackground.diabetesLogical" ng-model="patient.pathologicBackground.diabetesLogical" type="checkbox"> Diabetes
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.diabetesLogical" class="form-control" ng-model="patient.pathologicBackground.diabetesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input ng-checked="patient.pathologicBackground.thyroidDiseasLogical" ng-model="patient.pathologicBackground.thyroidDiseasLogical" type="checkbox"> Enfermedades tiroideas
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.thyroidDiseasLogical" class="form-control" ng-model="patient.pathologicBackground.thyroidDiseasText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.arterialHypertensionLogical" ng-model="patient.pathologicBackground.arterialHypertensionLogical"> Hipertensión arterial
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.arterialHypertensionLogical" class="form-control" ng-model="patient.pathologicBackground.arterialHypertensionText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.heartDiseaseLogical" ng-model="patient.pathologicBackground.heartDiseaseLogical"> Cardiopatias
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.heartDiseaseLogical" class="form-control" ng-model="patient.pathologicBackground.heartDiseaseText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.injuriesLogical" ng-model="patient.pathologicBackground.injuriesLogical"> Traumatismos
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.injuriesLogical" class="form-control" ng-model="patient.pathologicBackground.injuriesText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.cancerLogical" ng-model="patient.pathologicBackground.cancerLogical"> Cáncer
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.cancerLogical" class="form-control" ng-model="patient.pathologicBackground.cancerText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.tuberculosisLogical" ng-model="patient.pathologicBackground.tuberculosisLogical"> Tuberculosis
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.tuberculosisLogical" class="form-control" ng-model="patient.pathologicBackground.tuberculosisText"></textarea>
  </li>

  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.transfusionsLogical" ng-model="patient.pathologicBackground.transfusionsLogical"> Transfusiones
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.transfusionsLogical" class="form-control" ng-model="patient.pathologicBackground.transfusionsText"></textarea>
  </li>
  <li class="list-group-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-checked="patient.pathologicBackground.othersLogical" ng-model="patient.pathologicBackground.othersLogical"> Otros
      </label>
    </div>
    <textarea ng-show="patient.pathologicBackground.othersLogical" class="form-control" ng-model="patient.pathologicBackground.othersText"></textarea>
  </li>
</ul>
