<form ng-submit="updateMedicalHistory()">
	<div class="row">
		<div class="col-md-10">
			<div class="section-header">
				<div class="row">
					<div class="col-md-6">
						<h3>Historial médico</h3>
					</div>
					<div ng-show="patient !== 0" class="col-md-6">
						<div class="mt10" align=right>
							<new-consultation class-value="btn btn-primary btn-sm" patient-id="patient._id"></new-consultation>
						</div>
					</div>
				</div>
				<ol class="breadcrumb">
				  <li><a ui-sref="patients">Pacientes</a></li>
					<li>Historial Médico</li>
				</ol>
			</div>
			<div class="section-body">
				<div ng-show="patient !== 0">
			  	<uib-tabset active="activeJustified" justified="true">
			    	<uib-tab index="0" heading="ANT. y Alergias">
							<div class="row">
								<div class="col-sm-4">
							    <ul class="nav nav-tabs nav-stacked nav-pills form-group" role="tablist">
						        <li ng-class="{'active': view_tab === 'tab1'}">
						          <a ng-click="changeTab('tab1')" href="">
												ANTECEDENTES PATOLÓGICOS
											</a>
						        </li>
						        <li ng-class="{'active': view_tab === 'tab2'}">
						          <a ng-click="changeTab('tab2')" href="">
												ANTECEDENTES GINECO-OBSTETRICIOS
											</a>
						        </li>
										<li ng-class="{'active': view_tab === 'tab3'}">
						          <a ng-click="changeTab('tab3')" href="">
												ANTECEDENTES NO PATOLÓGICOS
											</a>
						        </li>
										<li ng-class="{'active': view_tab === 'tab4'}">
						          <a ng-click="changeTab('tab4')" href="">
												ANTECEDENTES HEREDOFAMILIARES
											</a>
						        </li>
										<li ng-class="{'active': view_tab === 'tab5'}">
						          <a ng-click="changeTab('tab5')" href="">
												ALERGIAS
											</a>
						        </li>
							    </ul>
									<div class="mt10" align="left">
										<button type="submit" class="btn btn-success"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar cambios</button>
									</div>
								</div>
								<div class="col-sm-8">
							    <div class="tab-content">
						        <div ng-show="view_tab === 'tab1'">
						          <div ng-include="'app/views/patients/medical_history/_pathologic-background.html'"></div>
						        </div>
						        <div ng-show="view_tab === 'tab2'">
						          <div ng-include="'app/views/patients/medical_history/_family-hereditary-background.html'"></div>
						        </div>
										<div ng-show="view_tab === 'tab3'">
						          <div ng-include="'app/views/patients/medical_history/_no-pathologic-background.html'"></div>
						        </div>
						        <div ng-show="view_tab === 'tab4'">
						          <div ng-include="'app/views/patients/medical_history/_obstetric-gynecologic-background.html'"></div>
						        </div>
										<div ng-show="view_tab === 'tab5'">
						          <div ng-include="'app/views/patients/medical_history/_allergies.html'"></div>
						        </div>
							    </div>
								</div>
							</div>
			    	</uib-tab>
			    	<uib-tab index="1" heading="Consultas Médicas">
			    		<div ng-include="'app/views/patients/consultations/index.html'"></div>
			    	</uib-tab>
						<uib-tab index="2" heading="Agenda">
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-2">
											Fecha
										</th>
										<th class="col-md-3">
											Horario
										</th>
										<th class="col-md-2">Acción</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="appointment in appointments">
										<td>
											{{ appointment.date | relativeDate }}
										</td>
										<td>
											{{ appointment.startTime | relativeTimeHourMinute }} - {{ appointment.endTime | relativeTimeHourMinute }}
										</td>
										<td>
											<a ui-sref="agenda-edit({id:appointment._id})">Ver detalles</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="not-data-msg" ng-show="appointments.length === 0">
								Sin registros.
							</div>
			    	</uib-tab>
						<uib-tab index="3" heading="Archivos">
						  <div class="form-group">
								<div align="right" class="form-group">
									<a class="btn btn-success" ng-show="patient.files.length <= 10" ngf-max-files="{{ maxFiles }}" ngf-select="uploadFile($files, $invalidFiles)" accept="*" ngf-max-size="{{ maxSize }}MB">
								    <i class="fa fa-upload" aria-hidden="true"></i> Adjuntar archivo
									</a>
									<div ng-show="patient.files.length > 10" class="text-danger">
										<small>No puedes agregar mas archivos, excediste de 10 archivos.</small>
									</div>
								</div>
								{{ errorMsg }}
								<div ng-repeat="err in errFiles">
									<div class="alert alert-danger" ng-show="err.$errorMessages.maxSize">El archivo es muy largo, debe de ser menos de {{ maxSize }}MB.</div>
									<div class="alert alert-danger" ng-show="err.$errorMessages.maxFiles">El número mínimo de archivos son {{ maxFiles }}.</div>
								</div>
						  </div>
							<table class="table ng-scope">
								<thead>
									<tr>
										<th class="col-md-5">
											Nombre
										</th>
										<th class="col-md-3">
											Fecha
										</th>
										<th class="col-md-3">Acción</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in patient.files | orderBy:'-_id'">
										<td>
											{{ file.name }}
										</td>
										<td>
											{{ file.createdAt | relativeFullDate }}
										</td>
										<td>
											<a href="{{ file.destination }}{{ file.filename }}" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Ver archivo </a>
											<span delete-data class-value="pointer text-danger" callback="fileRemove(file._id)" service-name="File" record-id="file._id" record-pater-id="patient._id"></span>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="not-data-msg" data-ng-if="!patient.files.length">
								Sin archivos.
							</div>
						</uib-tab>
						<uib-tab index="4" heading="Notas">
							<div class="form-group" align="right">
								<button type="submit" class="btn btn-success"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar cambios</button>
							</div>
							<textarea class="form-control" ng-model="patient.notes" rows="15"></textarea>
			    	</uib-tab>
			  	</uib-tabset>
				</div>
			</div>
		</form>
	</div>
	<div ng-show="patient !== 0" class="col-md-2 well fs14">
		<div class="form-group">
			<img class="img img-thumbnail" width="100%" src="/assets/images/medlog-center-logo.png">
		</div>
		<div class="form-group" align="center">
			<h5><b> <i class="fa fa-user" aria-hidden="true"></i> {{ patient.fullName | uppercase }}</b></h5>
			<b> {{ patient.gender | gender }} - {{ patient.birthday | age }} </b>
		</div>
		<div class="form-line" align="center">
			<a class="pointer text-warning mr10" ui-sref="patients-edit({id:patient._id})">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
			</a>
			<span delete-data class-value="pointer text-danger" redirect="patients" service-name="Patient" record-id="patient._id"></span>
		</div>
		<div class="form-line">
			<b>Correo electrónico:</b><br>
			{{ patient.email | nullData }}
		</div>
		<div class="form-line">
			<b>C.U.R.P.:</b><br>
			{{ patient.uprc | nullData}}
		</div>
		<div class="form-line">
			<b>Teléfono:</b><br>
			{{ patient.phone | nullData}}
		</div>
		<div class="form-line">
			<b>Teléfono celular:</b><br>
			{{ patient.mobilePhone | nullData}}
		</div>
		<div class="form-group">
			<b>Domicilio:</b><br>
			{{ patient.address | nullData}}
		</div>
	</div>
</div>
<div class="not-data-msg" ng-show="patient === 0">
	Sin registros.
</div>
