<div class="panel panel-default">
  <div class="panel-heading">
    Comentarios
  </div>
  <div class="panel-body">
    <textarea rows="8" class="form-control" ng-model="consultation.comments"></textarea>
  </div>
</div>
