<form ng-submit="update(consultation)">
	<div class="row">
		<div class="col-md-10">
			<div class="section-header">
				<div class="row">
					<div class="col-md-6">
						<h3>Consulta médica</h3>
					</div>
					<div class="col-md-6">
						<div align="right" class="mt10">
							<button type="submit" class="btn btn-success">
								<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar cambios
							</button>
							<a class="btn btn-default" ui-sref="patients-medical-history({id:patient._id})"><i class="fa fa-file-text-o" aria-hidden="true"></i> Historial médico</a>
							<span delete-data
								 class-value="btn btn-danger"
								 redirect="patients-medical-history"
								 service-name="Consultation"
								 redirect-params="{id:patient._id}"
								 record-id="consultation._id">
							</span>
							<a class="btn btn-primary" uib-tooltip="Imprimir consulta médica" tooltip-placement="top" tooltip-trigger="'mouseenter'" tooltip-enable="!inputModel"><i class="fa fa-print" aria-hidden="true"></i> <!-- Imprimir --> </a>
						</div>
					</div>
				</div>
				<ol class="breadcrumb">
				  <li><a ui-sref="patients-medical-history({id:patient._id})">Paciente [{{ patient.fullName | uppercase }}]</a></li>
					<li>Consulta médica</li>
				</ol>
			</div>
			<div class="section-body">
				<uib-tabset active="activeJustified" justified="true">
					<uib-tab index="1" heading="Signos Vitales">
			  		<div ng-include="'app/views/consultations/_vital-signs.html'"></div>
			  	</uib-tab>
			  	<!-- <uib-tab index="2" heading="Notas">
			  		<div ng-include="'app/views/consultations/_notes.html'"></div>
			  	</uib-tab> -->
			  	<uib-tab index="3" heading="Aparatos y sistemas">
			  		<div ng-include="'app/views/consultations/_physical-exam.html'"></div>
			  	</uib-tab>
			  	<uib-tab index="4" heading="Diagnóstico">  <!-- y Tratamiento -->
			  		<div ng-include="'app/views/consultations/_treatment-diagnosis.html'" ></div>
			  	</uib-tab>
					<uib-tab index="5" heading="Medicamentos">
			  		<div ng-include="'app/views/consultations/_medicines.html'"></div>
			  	</uib-tab>
					<!-- <uib-tab index="6" heading="Comentarios">
			  		<div ng-include="'app/views/consultations/_comments.html'" >
			  		</div>
			  	</uib-tab> -->
				</uib-tabset>
			</div>
		</div>
		<div class="col-md-2 well">
			<div class="form-group">
				<img class="img img-thumbnail" width="100%" src="/assets/images/medlog-center-logo.png">
			</div>
			<div class="form-group" align="center">
				<h5><b> <i class="fa fa-user" aria-hidden="true"></i> {{ patient.fullName | uppercase }}</b></h5>
				<b> {{ patient.gender | gender }} - {{ patient.birthday | age }} </b>
			</div>
			<hr />
			<div>
				<label>Título de la consulta:</label>
				<input type="text" placeholder="Titulo" class="form-control" ng-model="consultation.title"></input>
			</div>
		</div>
	</div>
</form>
