<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Medicamento</label>
      <input ng-model="consultation.medicines[$index].name" type="text" class="form-control" placeholder="Medicamento" />
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Dosis</label>
        <input ng-model="consultation.medicines[$index].dose" type="text" class="form-control" placeholder="2" />
      </div>
      <div class="col-md-8">
        <label>Duración</label>
        <input ng-model="consultation.medicines[$index].duration" type="text" class="form-control" placeholder="" />
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label>Comentarios</label>
      <textarea ng-model="consultation.medicines[$index].comments" class="form-control" rows="3"></textarea>
    </div>
    <div align="right">
      <a class="btn btn-danger btn-xs" ng-click="closeAlert($index)">Remover</a>
    </div>
  </div>
</div>
