<div class="row">
  <div class="col-md-6">
    <div class="not-data-msg" ng-show="consultation.medicines.length === 0">
      Sin registros
    </div>
  </div>
  <div class="col-md-6 form-group" align="right">
    <a class="btn btn-success btn-sm" ng-click="medicinesSection=!medicinesSection"> <i class="fa fa-bars" aria-hidden="true"></i> Agregar medicamento</a>
  </div>
</div>

<div ng-show="medicinesSection" class="form-group well">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Medicamento</label>
        <input ng-model="medicine.name" type="text" class="form-control" placeholder="Medicamento" />
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Dosis</label>
          <input ng-model="medicine.dose" type="text" class="form-control" placeholder="2" />
        </div>
        <div class="col-md-8">
          <label>Duración</label>
          <input ng-model="medicine.duration" type="text" class="form-control" placeholder="" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <label>Comentarios</label>
      <textarea ng-model="medicine.comments" class="form-control" rows="5"></textarea>
    </div>
  </div>
  <div align="right">
    <a class="mt15 btn btn-success btn-sm" add-medicine><i class="fa fa-plus" aria-hidden="true"></i> Agregar a la lista</a>
  </div>
</div>
<ul class="list-group" id="medicines-content">
  <li class="list-group-item" ng-repeat="medicine in consultation.medicines">
    <div ng-include="'app/views/consultations/_medicine.html'"></div>
  </li>
</ul>

<!-- <div class="panel panel-default">
  <div class="panel-heading">

  </div>
  <div class="panel-body">

  </div>
</div> -->
