<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Exploración Física
			</div>
			<div class="panel-body">
				<textarea rows="8" class="form-control" ng-model="consultation.physicalExploration"></textarea>
			</div>
		</div>
	</div>
</div>
