<div class="panel panel-default">
	<ul class="list-group">
  	<li class="list-group-item">
  		<div class="row">
				<div class="col-md-6">
  				<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.neurological" ng-model="consultation.physicalSystems.neurological">
							Sistema neurológico
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.neurological" class="form-control" ng-model="consultation.physicalSystems.neurologicalText"></textarea>
  			</div>
  			<div class="col-md-6">
  				<div class="checkbox">
				    <label>
				      <input ng-checked="consultation.physicalSystems.cardiovascular" ng-model="consultation.physicalSystems.cardiovascular" type="checkbox"> Aparato cardiovascular
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.cardiovascular" class="form-control" ng-model="consultation.physicalSystems.cardiovascularText"></textarea>
  			</div>
  		</div>
  	</li>
  	<li class="list-group-item">
  		<div class="row">
  			<div class="col-md-6">
  				<div class="checkbox">
				    <label>
				      <input ng-checked="consultation.physicalSystems.lymphatic" ng-model="consultation.physicalSystems.lymphatic" type="checkbox">
							Sistema linfático
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.lymphatic" class="form-control" ng-model="consultation.physicalSystems.lymphaticText"></textarea>
  			</div>
				<div class="col-md-6">
  				<div class="checkbox">
				    <label>
				      <input ng-checked="consultation.physicalSystems.urinary" ng-model="consultation.physicalSystems.urinary" type="checkbox"> Aparato urinario
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.urinary" class="form-control" ng-model="consultation.physicalSystems.urinaryText"></textarea>
  			</div>
  		</div>
  	</li>
  	<li class="list-group-item">
  		<div class="row">
  			<div class="col-md-6">
  				<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.dermatological" ng-model="consultation.physicalSystems.dermatological"> Sistema dermatológico
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.dermatological" class="form-control" ng-model="consultation.physicalSystems.dermatologicalText"></textarea>
  			</div>
				<div class="col-md-6">
  				<div class="checkbox">
				    <label>
				      <input ng-checked="consultation.physicalSystems.digestive" ng-model="consultation.physicalSystems.digestive" type="checkbox">
							Aparato digestivo
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.digestive" class="form-control" ng-model="consultation.physicalSystems.digestiveText"></textarea>
  			</div>
  		</div>
  	</li>

  	<li class="list-group-item">
  		<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.osteoarticular" ng-model="consultation.physicalSystems.osteoarticular"> Sistema osteoarticular
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.osteoarticular" class="form-control" ng-model="consultation.physicalSystems.osteoarticularText"></textarea>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.respiratory" ng-model="consultation.physicalSystems.respiratory"> Aparato respiratorio
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.respiratory" class="form-control" ng-model="consultation.physicalSystems.respiratoryText"></textarea>
				</div>
			</div>
  	</li>
  	<li class="list-group-item">
  		<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.otolaryngology" ng-model="consultation.physicalSystems.otolaryngology"> Otorrinolaringológico
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.otolaryngology" class="form-control" ng-model="consultation.physicalSystems.otolaryngologyText"></textarea>
				</div>

				<div class="col-md-6">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.reproductive" ng-model="consultation.physicalSystems.reproductive"> Aparato reproductor
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.reproductive" class="form-control" ng-model="consultation.physicalSystems.reproductiveText"></textarea>
				</div>
			</div>
  	</li>
  	<li class="list-group-item">
  		<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.psychiatricAndPsychological" ng-model="consultation.physicalSystems.psychiatricAndPsychological"> Psiquiátrico y psicológico
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.psychiatricAndPsychological" class="form-control" ng-model="consultation.physicalSystems.psychiatricAndPsychologicalText"></textarea>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-checked="consultation.physicalSystems.others" ng-model="consultation.physicalSystems.others"> Otros
				    </label>
					</div>
					<textarea ng-show="consultation.physicalSystems.others" class="form-control" ng-model="consultation.physicalSystems.othersText"></textarea>
				</div>
			</div>
  	</li>
	</ul>
</div>
