<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Instrucciones médicas
			</div>
			<div class="panel-body">
				<textarea rows="5" class="form-control" ng-model="consultation.medicalInstructions"></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Diagnóstico
			</div>
			<div class="panel-body">
				<textarea rows="5" class="form-control" ng-model="consultation.diagnostics"></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Estudios médicos
			</div>
			<div class="panel-body">
				<textarea rows="5" class="form-control" ng-model="consultation.medicalStudies"></textarea>
			</div>
		</div>
	</div>
</div>
