<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Motivo de la consulta médica
      </div>
      <div class="panel-body">
        <textarea rows="12" class="form-control" ng-model="consultation.reasonForVisit"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Signos Vitales</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Peso</label>
            </div>
          </div>
          <div class="col-md-6 mb10">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.weight.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.weight.measure='kg'" ng-model="consultation.vitalSigns.weight.measure">
                  <option value="kg">Kg</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-inline">
              <div class="form-group mt5">
                <label>Altura</label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb10">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.height.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.height.measure='mts'" ng-model="consultation.vitalSigns.height.measure">
                  <option value="mts">Mts</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Temperatura</label>
            </div>
          </div>
          <div class="col-md-6 mb10">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.temperature.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.temperature.measure='c'" ng-model="consultation.vitalSigns.temperature.measure">
                  <option value="c">C</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Masa Corporal</label>
            </div>
          </div>
          <div class="col-md-6 mb10">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.bodyMass.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.bodyMass.measure='bmi'" ng-model="consultation.vitalSigns.bodyMass.measure">
                  <option value="bmi">bmi</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Frecuencia respiratoria</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.breathingFrequency.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.breathingFrequency.measure='r/m'" ng-model="consultation.vitalSigns.breathingFrequency.measure">
                  <option value="r/m">r/m</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Presión arterial</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.bloodPressure.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.bloodPressure.measure='mmHg'" ng-model="consultation.vitalSigns.bloodPressure.measure">
                  <option value="mmHg">mmHg</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Pulso</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.pulse.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.pulse.measure='l/m'" ng-model="consultation.vitalSigns.pulse.measure">
                  <option value="l/m">l/m</option>
                </select>
              </span>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt5">
              <label>Frecuencia cardiaca</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="consultation.vitalSigns.heartRate.value" numbers-only>
              <span class="input-group-btn">
                <select class="btn" ng-init="consultation.vitalSigns.heartRate.measure='fc'" ng-model="consultation.vitalSigns.heartRate.measure">
                  <option value="fc">fc</option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
