<div class="row">

	<!-- <div class="col-md-6">
		<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="row">
    				<div class="col-md-9">
    					<h4>Medicamentos Activos </h4>
    				</div>
    				<div class="col-md-3" align="right">
	    				<show-and-hide-section section="patient.activeMedicinesSection">
	    				</show-and-hide-section>
    				</div>
    			</div>
    		</div>
    		<div class="panel-body" ng-show="patient.activeMedicinesSection">
    			<input type="text" name="" class="form-control">
    			<hr>
    			<h5><strong>Medicamentos</strong></h5>
    			Medicamento - <span class="text-danger">Eliminar</span>
    		</div>
    	</div>
	</div> -->

	<!-- <div class="col-md-6">
		<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="row">
    				<div class="col-md-9">
    					<h4>Archivos </h4>
    				</div>
    				<div class="col-md-3" align="right">
	    				<show-and-hide-section section="patient.filesSection">
	    				</show-and-hide-section>
    				</div>
    			</div>
    		</div>
    		<div class="panel-body" ng-show="patient.filesSection">
    			<input type="file" name="" class="form-control"><hr>
    			<h4>Archivos</h4><hr>
    			Archivo - <span class="text-danger">Eliminar</span>
    		</div>
    	</div>
	</div> -->
</div>
