<table class="table">
	<thead>
		<tr>
			<th class="col-md-2">
				Hace
			</th>
			<th class="col-md-4">
				Fecha
			</th>
			<th class="col-md-4">
				Titulo
			</th>
			<th class="col-md-2">Acción</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="consultation in consultations">
			<td>
				<b> {{ consultation.createdAt | ago }} </b>
			</td>
			<td>
				<b> {{ consultation.createdAt | relativeFullDate }} </b>
			</td>
			<td>
				{{ consultation.title | nullData }}
			</td>
			<td>
				<a ui-sref="consultations-edit({id:consultation._id})" class="btn btn-primary btn-sm">
					<i class="fa fa-stethoscope" aria-hidden="true"></i> Ver detalles
				</a>
			</td>
		</tr>
	</tbody>
</table>
<div class="not-data-msg" data-ng-if="!consultations.length">
	Sin registros.
</div>

<div align="center" data-ng-if="consultations.length">
	<paging
		page="pagination.currentPage"
		page-size="pagination.pageSize"
		total="pagination.total"
		paging-action="pageChanged('Paging Clicked', page, pageSize, total)"
		show-prev-next="true"
  	show-first-last="true">
	</paging>
</div>
<!-- <div align="center">
	<ul uib-pagination total-items="pagination.totalItems" max-size="pagination.maxSize" boundary-link-numbers="true" rotate="true" force-ellipses="true" ng-model="currentPage" ng-change="pageChanged()">
	</ul>
</div> -->
