<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Datos del usuario</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Nombre(s)</label>
						<input type="text" placeholder="" class="form-control" ng-model="user.firstName" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Apellidos</label>
						<input type="text" placeholder="" class="form-control" ng-model="user.lastName" required>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Usuario (Correo electrónico)</label>
						<input type="email" placeholder="" class="form-control" ng-model="user.username" required>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Contraseña</label>
						<input type="password" placeholder="" class="form-control" ng-model="user.password" ng-required="!user._id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Confirmar contraseña</label>
						<input type="password" placeholder="" class="form-control" ng-model="user.confirmPassword" ng-required="!user._id">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
					    <label class="input-required">Role</label>
							<select required class="form-control" ng-init="user.role='admin'" ng-model="user.role">
								<option value="admin">Administrador</option>
								<option value="user">Usuario</option>
							</select>
						</div>
					</div>
        </div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Especialidad profesional</label>
							<input type="text" placeholder="" class="form-control" ng-model="user.professionalData.specialty">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Cedula profesional</label>
							<input type="text" placeholder="" class="form-control" ng-model="user.professionalData.professionalLicense" uppercase>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Cargo que ocupa</label>
							<input type="text" placeholder="" class="form-control" ng-model="user.position">
						</div>
					</div>
				</div>
        <div align="right">
					<div class="form-inline">
						<div class="form-group">
							<button class="btn btn-success btn-block" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
						</div>
						<div ng-show="user._id" class="form-group">
							<span delete-data class-value="btn btn-danger" redirect="users" service-name="User" record-id="user._id"></span>
						</div>
						<div class="form-group">
							<a ui-sref="users" class="btn btn-default">Cancelar</a>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>
