<div class="section-header">
	<h3>Nuevo usuario</h3>
	<ol class="breadcrumb">
		<li><a ui-sref="users">Usuarios</a></li>
		<li>Nuevo</li>
	</ol>
</div>
<div class="section-body">
	<form ng-submit="create()" ng-include="'app/views/users/_form.html'"></form>
</div>
