<div class="section-header">
	<h3>Editar usuario</h3>
	<ol class="breadcrumb">
		<li><a ui-sref="users">Usuarios</a></li>
		<li>Editar</li>
	</ol>
</div>
<div class="section-body">
	<form ng-submit="update(user)" ng-include="'app/views/users/_form.html'" scope="" onload=""></form>
</div>
