<div class="section-header">
	<div class="row">
  	<div class="col-md-4">
    	<h3>Usuarios</h3>
  	</div>
		<div class="col-md-2" align="right">
  		<div class="pt10">
  			<a ui-sref="users-create" class="btn btn-success">
    			<i class="fa fa-plus" aria-hidden="true"></i> Nuevo usuario
    		</a>
  		</div>
  	</div>
  	<div class="col-md-6">
  		<form class="pt10" ng-submit="search()">
  			<div class="input-group">
		      <input type="text" class="form-control" ng-model="input" placeholder="Buscar por nombre del usuario" uib-tooltip="Buscar por nombre del paciente" tooltip-placement="top" tooltip-trigger="'mouseenter'" tooltip-enable="!inputModel">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" name="button"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
		      </span>
		    </div>
			</form>
  	</div>
	</div>
	<ol class="breadcrumb">
		<li>Usuarios</li>
		<li></li>
	</ol>
</div>
<div class="section-body">
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-3">
					Nombre completo
				</th>
				<th class="col-md-3">
					Usuario
				</th>
				<th class="col-md-1">
					Role
				</th>
				<th class="col-md-3">
					Fecha de creación
				</th>
				<th class="col-md-2">
					<div align="center">
						Acción
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>
					<a ui-sref="users-edit({id:user._id})">
						{{ user.fullName | uppercase }}
					</a>
				</td>
				<td>
					{{ user.username }}
				</td>
				<td>
					{{ user.role | role }}
				</td>
				<td>
					{{ user.createdAt | relativeFullDate }}
				</td>
				<td align="center">
					<a ui-sref="users-edit({id:user._id})">Ver detalles</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="not-data-msg" data-ng-if="!users.length">
		Sin registros.
	</div>
	<div align="center" data-ng-if="users.length">
		<paging
		  page="pagination.currentPage"
		  page-size="pagination.pageSize"
		  total="pagination.total"
			paging-action="pageChanged('Paging Clicked', page, pageSize, total)"
			show-prev-next="true"
	  	show-first-last="true">
		</paging>
	</div>
</div>
